[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/nooneknowspeter/nvim.git
[submodule "vscode/.config/Code/User"]
	path = vscode/.config/Code/User
	url = https://github.com/nooneknowspeter/vscode.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "alacrity/.config/alacritty"]
	path = alacrity/.config/alacritty
	url = https://github.com/nooneknowspeter/alacritty.git
[submodule "wezterm/.config/wezterm"]
	path = wezterm/.config/wezterm
	url = https://github.com/nooneknowspeter/wezterm
[submodule "vim/.vim/pack/plugins/start/vim-tmux-navigator"]
	path = vim/.vim/pack/plugins/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim/.vim/pack/plugins/start/vim-visual-multi"]
	path = vim/.vim/pack/plugins/start/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi.git
