// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction
include "animations.kdl"
include "binds.kdl"
include "environment.kdl"
include "input.kdl"
include "layout.kdl"
include "misc.kdl"
include "output.kdl"
include "startup.kdl"
include "window-rules.kdl"
