[user]
	email = 157999171+nooneknowspeter@users.noreply.github.com
	name = nooneknows
[includeIf "gitdir:~/projects/orbtronics/"]
	path = ~/projects/orbtronics/.gitconfig
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
